<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>com.Controller.AdminController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductController</servlet-name>
		<servlet-class>com.Controller.ProductController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupplierController</servlet-name>
		<servlet-class>com.Controller.SupplierController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StockController</servlet-name>
		<servlet-class>com.Controller.StockController</servlet-class>
	</servlet>
	<welcome-file-list>
		<welcome-file>/frontend/index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SalesController</servlet-name>
		<servlet-class>com.Controller.SalesController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RelationController</servlet-name>
		<servlet-class>com.Controller.RelationController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Mail</servlet-name>
		<servlet-class>com.Controller.MailController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserController</servlet-name>
		<servlet-class>com.Controller.UserController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.Controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/Admin/Product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupplierController</servlet-name>
		<url-pattern>/Admin/Supplier</url-pattern>
		<url-pattern>/addsupplier</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SalesController</servlet-name>
		<url-pattern>/Admin/Sale</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StockController</servlet-name>
		<url-pattern>/Admin/Stock</url-pattern>
		<url-pattern>/frontend/Stock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RelationController</servlet-name>
		<url-pattern>/Admin/Relation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mail</servlet-name>
		<url-pattern>/Sendmail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/Login</url-pattern>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>